.lastText {
  margin: 50px 15px !important;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

  font-size: 14px;
  line-height: 1.57;
  color: #4b4b4b;
}

.footer--red {
  background: #cd0505;

  & .lastText {
    color: #fff;
  }
}