---
layout: index-layout
subject: My Email Templates
---
<container class="mainContainer">
  <row class="header">
      <columns small="12">
          <div class="logo"></div>
      </columns>
  </row>
   <row class="contentInfo">
      <columns large="12" small="12">
         <center class="contentInfo__content">
            <p class="pop">PEOPLE OVER PROFIT</p>
            <p class="projectPSI">Project by Public Services International</p>
            <p class="text">Public Services International brings together more than 20 million workers, represented by 669 unions in 154 countries and territories. </p>
            <a href="" class="psiWebsite">PSI WEBSITE</a>
            <menu>
               <item><img src="http://placehold.it/25" alt=""></item>
               <item><img src="http://placehold.it/25" alt=""></item>
               <item><img src="http://placehold.it/25" alt=""></item>
               <item><img src="http://placehold.it/25" alt=""></item>
               <item><img src="http://placehold.it/25" alt=""></item>
            </menu>
         </center>
      </columns>
   </row>

   <row class="footer footer--red">
      <columns small="12">
         <p class="lastText"> Public Services International, BP 9, <br> F-01211 Ferney-Voltaire Cedex, France<br>
            Tel: +33 (0)4 50 40 64 64   Fax: +33 (0)4 50 40 50 94 <br>  E-mail:  <a href="">psi@world-psi.org</a>
         </p>
      </columns>
   </row>
</container>
<spacer size="160"></spacer>
<center>
   <small>Keep on keepin' on. &lt;3 <a style="color: #cacaca; text-decoration: underline;" href="http://zurb.com/">ZURB</a> </small>
</center>
<spacer size="16"></spacer>